html{
    height: 400px;
    width: var(--element_width);
    margin: 0;
    padding: 0;
    font-family: Fjord One;
}
:root{
    --secondRow_height: 175px;
    --weatherBlock_width: 100px;
    --shadowing: inset 0 0 10px #000000;
    --element_width: 500px;
}

.today_banner{
    display:flex;
}
.API_title{
    font-size:11px;
}
.API_weather{
    font-size:15px;
}
.API_data{
    display: flex;
}
.API_blocks{
    padding: 0px 10px 0px 10px;
    width:70px;
    text-align: center;
    top:0%;
}
.today_name{
    font-size: 16px;
    text-align:center;
}
.combined_weather{
    font-size: 40px;
    text-align:center;
}
.hourly_temp{
    font-size: 20px;
    width: var(--weatherBlock_width);
    height: 13px;
}
.hourly_img_icon{
    width:50px;
    height:50px;
}
.hourly_time{
    font-size: 15px;
    width: var(--weatherBlock_width);
    height:13px;
}
.hourly_blocks{
    text-align: center;
    border-right:solid;
}
.hourly_img{
    width:var(--weatherBlock_width);
}
.hourly{
    overflow:scroll;
    overflow-y:hidden;
    height: var(--secondRow_height);
    width: 350px;
    display:flex;
    box-shadow:var(--shadowing);
}
.last_block{
    border-right: none;
    border-bottom: none;
}
.date_selection{
    height: var(--secondRow_height);
    box-shadow: var(--shadowing);
    width: calc(var(--element_width) - 350px);
}
.dateSelection_date{
    font-size: 15px;
    text-align: center;
    width: 75px;
}
.dateSelection_info{
    font-size: 13px;
    text-align: right;
    width: 75px;
}
.date_blocks{
    display:flex;
    height: calc(var(--secondRow_height) /  5);
    width: calc(var(--element_width)-350px);
    border-bottom:solid;
}
.forecast_data{
    display: flex;
}


#icon_licensing_text{
    font-size: 10px;
}

#weather_icon_img{
    height: 150px;
    width: 150px;
    padding: 20px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}