html{
    height: 300px;
    width: 275px;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar{
    display:none;
}

#infowindow-content .title {
    font-weight: bold;
}
  
#infowindow-content {
    display: none;
}

.pac-card {
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Fjord One;
}
  
#pac-container {
    width: 250px;
    margin: auto;
}

#pac-input {
    background-color: rgba(172, 172, 172, 0.9);
    text-align: center;
    font-family: Fjord One;
    font-size: 16px;
    font-weight: 100;
    text-overflow: ellipsis;
    height: 16px;
    width: 250px;
}
  
#pac-input:focus {
    border-color: #4d90fe;
}