html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#infowindow-content .title {
    font-weight: bold;
}
  
#infowindow-content {
    display: none;
}

.pac-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(59, 53, 59, 0.938);
    background-color: rgba(119, 119, 119, 0.9);
    font-family: Fjord One;
}
  
#pac-container {
    padding: 10px;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

#pac-input {
    background-color: rgba(172, 172, 172, 0.9);
    text-align: center;
    font-family: Fjord One;
    font-size: 25px;
    font-weight: 300;
    text-overflow: ellipsis;
    height: 30px;
    width: 500px;
}
  
#pac-input:focus {
    border-color: #4d90fe;
}